*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: rgba(31, 30, 30, 0.872);
}
.maincontainer{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.navbar{
    padding-top: 20px;
    display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
    width: 120px;
}
.fmenu{
    display: flex;
    gap: 15px;
}
/* f.menu:hover{
} */
a{
    text-decoration: none;
   
}
a:hover{
    border-bottom: 2px solid black;
    /* transition: ease-in(1sec); */

}
ul{
    list-style:none;
}
.second-menu{
    display: flex;
    gap: 14px;
}




.shocase
{
    background-image: url('./IMG/showcase.jpg');
}
.shocase a{
    cursor: pointer;
    color: white;
    background-color: black;
    margin-top: 45px;
    padding: 7px;
}